* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbarh4 {
  color: white;
  background-color: #034694;
  text-align: center;
  margin-top: 0;
  padding: 10px;
}
.span1 {
  color: #ffc72c;
}
.d0 {
  margin-top: 10px;
  font-size: small;
}
.d1 {
  margin-left: 8%;
}
.d2 {
  margin-left: 451px;
}
.img1 {
  margin-left: 8%;
  margin-top: 2%;
}
.input1 {
  background-color: #dddddd;
  background-color: transparent;
  position: static;
  margin: 0;
  border-color: transparent;
  height: 10px;
  padding: 10px 50px 10px 20px;
  background: #ffffff;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 38px;
  line-height: 1.4;
  padding: 10px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
}
.input1:focus {
  box-shadow: 0 0 5px blue;
}
.divinput {
  margin-left: 8%;
  margin-top: 4%;
}
.tollfree {
  margin-left: 83px;
}
.tollfree1 {
  margin-left: 0;
}
.seection4 {
  padding: 5px;
  font-size: 15px;
  margin-top: 2%;
  margin-left: 7%;
  margin-right: 7%;
  color: white;
  background-color: #034694;
}
.h4nav {
  margin-left: 1rem;
}
img {
  max-height: 100%;
  max-width: 100%;
}
.bannerfooter {
  text-align: center;
  background-color: #444444;
  color: white;
  padding: 7px;
}
#hmbanner img {
  width: 100%;
  height: auto;
  display: block;
  padding: 25px 0;
}
#hmbanner {
  padding: 0px;
  margin-top: -5%;

  background: url(https://customtentwithlogo.com/media/wysiwyg/images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.productlist p {
  line-height: 25px;
  margin-bottom: 20px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 13px;
  color: #838383;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 40px;
  margin: 0px;
  color: #231f20;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 40px;
  margin: 0px;
  margin-left: 161px;
}

.BestSeller {
  background-color: #f2f2f2;
  padding: 5%;
}

.hm-sale-banner {
  background: url(https://customtentwithlogo.com/media/wysiwyg/hmbg.jpg)
    no-repeat #1f4a91;
  padding: 17px;
  margin-top: 70px;
}

.hm-sb-text {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 7px;
}
.row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 15px;
}
.hm-sale-banner .btn {
  background: #3a3a3a;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 15px 8px;
}
.Limith2 {
  margin-top: 5%;
  margin-left: 15%;
}
.hmtc-content {
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  min-height: 10px;
  line-height: 25px;
}
.imgrow {
  height: 200%;
  width: 200%;
  border: #231f20 solid 1px;
}

.hmftbox .fa {
  font-size: 40px;
  background: #1f4a91;
  padding: 30px;
  color: #fff;
  border-radius: 50%;
  margin-bottom: 15px;
  height: 100px;
  width: 100px;
  text-align: center;
}
.btn {
  background-color: #3a3a3a;
  color: white;
  padding: 2%;
}
.addtocart:hover {
  color: white;
  background-color: #0088cc;
}
.customhover:hover {
  color: #eb2771;
}
.hmftbox1:hover {
  background-color: #eb2771;
}
.link:hover {
  color: white;
}
